select {
  margin: 5px;
  width: 34%;
  font-size: 1rem;
  outline: 0;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 2px;

  @include respond(tablet) {
    font-size: 1.1rem;
  }
  @include respond(bigSreen) {
    width: 200px;
  }
  @include respond(lessThanMinWidth) {
    margin: 4px;
    width: 65px;
    font-size: 0.75rem;
  }
}
