#whatLens {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: -23px 0;

  & h1 {
    font-size: 1.5rem;
    text-transform: uppercase;

    @include respond(tablet) {
      font-size: 2rem;
    }

    @include respond(bigSreen) {
      font-size: 2.5rem;
    }

    @include respond(lessThanMinWidth) {
      font-size: 1rem;
      margin: -19px 0;
    }
  }

  @include respond(tablet) {
    margin: 2.5rem 0;
  }

  @include respond(bigSreen) {
    margin: 2rem 0;
  }
}
